TRANSFER_PRODUCER_DB_HOST=your-producer-neon-host
TRANSFER_PRODUCER_DB_PORT=5432
TRANSFER_PRODUCER_DB_USER=your_producer_db_user
TRANSFER_PRODUCER_DB_PASSWORD=your_producer_db_password
TRANSFER_PRODUCER_DB_NAME=neondb

TRANSFER_CONSUMER_DB_HOST=your-consumer-neon-host
TRANSFER_CONSUMER_DB_PORT=5432
TRANSFER_CONSUMER_DB_USER=your_consumer_db_user
TRANSFER_CONSUMER_DB_PASSWORD=your_consumer_db_password
TRANSFER_CONSUMER_DB_NAME=neondb
